{{ form_start(form) }}

{{ form_row(form.persGetSportAndNiv.nom, {'attr': {'placeholder': 'Votre nom (obligatoire)'}}) }}

{{ form_row(form.persGetSportAndNiv.prenom, {'attr':{ 'label': 'Prénom' , 'placeholder' : 'Votre prénom (obligatoire)'} }) }}
{{ form_row(form.persGetSportAndNiv.departement, {'attr':{ 'label': 'Département', 'placeholder' :'Votre département (obligatoire)' }}) }}
{{ form_row(form.persGetSportAndNiv.mail, {'attr':{ 'label': 'Mail', 'placeholder' :'Votre adresse mail (obligatoire)' }}) }}
{{ form_row(form.sportGetPersAndNiv , { 'label': 'Sport' }) }}
    {{ form_row(form.niveau) }}
    <button class="btn btn-info btn-lg text-white m-4">{{ button_label|default('ENREGISTRER') }}</button>

{{ form_end(form) }}
