{% extends 'base.html.twig' %}

{% block title %}Liste complète{% endblock %}

{% block body %}
    <h1 class="my-4">Liste complète</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Département</th>
                <th>Sport</th> 
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pratique in pratiques %}
            <tr>
                <td>{{ pratique.persGetSportAndNiv.nom }}</td>
                <td> {{ pratique.persGetSportAndNiv.prenom }}</td>
                <td> {{ pratique.persGetSportAndNiv.mail }}</td>
                <td>{{ pratique.persGetSportAndNiv.departement }}</td>
                <td>{{ pratique.sportGetPersAndNiv.sport }}</td>
                <td>{{ pratique.niveau }}</td>
                <td>
                    <a href="{{ path('pratique_show', {'id': pratique.id}) }}">show</a>
                    <a href="{{ path('pratique_edit', {'id': pratique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-success btn-lg"><a class="text-white" href="{{ path('pratique_new') }}">Inscription</a></button>
{% endblock %}
