{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('pratique/_form.html.twig') }}

 
    <h4>Votre sport n'existe pas ajoutez le ici</h4>
    <button class="btn btn-success btn-lg m-4"><a class="text-white" href="{{ path('sport_new') }}">Ajout Nouveau Sport</a></button>
{% endblock %}
