{% extends 'base.html.twig' %}

{% block title %}Pratique{% endblock %}

{% block body %}
    <h1>Pratique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pratique.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ pratique.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pratique_index') }}">back to list</a>

    <a href="{{ path('pratique_edit', {'id': pratique.id}) }}">edit</a>

    {{ include('pratique/_delete_form.html.twig') }}
{% endblock %}
