{{ form_start(form) }}
    {{ form_row(form.sport, { 'label': 'Nouveau Sport' }) }}
    <button class="btn btn-info btn-lg text-white">{{ button_label|default('AJOUTER') }}</button>
{{ form_end(form) }}
